td button {
    width: 35%;
}

@media (max-width: 1094px) {
    .title-wrapper form {
        width: 22%;
    }

    td button {
        width: 45%;
    }
}

@media (max-width: 850px) {
    .title-wrapper form {
        width: 28%;
    }

    td button {
        width: 55%;

        word-break: break-word;
    }

    .button {
        margin-bottom: 30%;
    }

    footer {
        padding: 0 5%;
    }
}

@media (max-width:450px) {
    .title-wrapper form .btDownload {
        padding: .3rem;

        gap: .5rem;
    }

    .button {
        margin-bottom: 45%;
    }
}