* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body{
    height: 100vh;

    display: flex;

    background-color: black;

    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #d8e5f0;
}

div.page{    
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

form, h1, p {
    animation-name: fromTop;
    animation-duration: 800ms;
    animation-fill-mode: backwards;
}

.page img {
    animation-name: fromBottom;
    animation-duration: 800ms;
    animation-fill-mode: backwards;
}

.page h1{
    font-size: 3.5rem;
}

.page p{
    font-size: clamp(1.5rem, 2.6rem, 3rem);
}

.page .buttons{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.page .buttons button{
    width: 25%;
    padding: 1% 0;

    background-color: #C4C1C1;
    border-radius: 1rem;

    font-size: 1.6rem;

    cursor: pointer;
    transition-property: transform;
    transition-duration: 300ms;
}

.page .buttons button:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(+4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1000px) {
    .page img {
        width: 28%;
    }
}

@media (max-width: 1000px) {
    .page img {
        width: 38%;
    }
}