* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    height: 100%;
}

body, .content {
    min-height: 100%;
    position: relative;
}

body {    
    background-image: url(../assets/Fundo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    font-size: 1.6rem;
}

body, button {
    font-family: 'Poppins', sans-serif;
}

button {
    height: 5rem;

    background-color: #C4C1C1;
    border-radius: .5rem;
    border: none;

    font-size: 1.6rem;

    cursor: pointer;
    transition: 300ms;
}

button:hover {
    opacity: .7;
}

nav {
    height: 22vh;
    padding-right: 10%;
    
    display: flex;
    align-items: center;
    justify-content: end;
    
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
}

ul {
    list-style: none;

    display: flex;
    gap: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #787878;
}

nav ul li a:hover {
    color: #646363;
}

main {
    width: 100%;
}

.content {    
    margin-bottom: 10%;

    display: flex;
    flex-direction: column;

    animation: fromTop 1.2s backwards;
    animation-delay: .1s;
}

.title-wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 2% 5.5%;

    display: flex;
    justify-content: space-between;
    align-items: end;

    background-color: #EAE8E8;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid #D8D8DB;
}

h1 {
    width: fit-content;

    font-family: 'Archivo', sans-serif;
    font-size: clamp(3rem, 4rem, 4.5rem);
    font-weight: normal;

    animation: fromTop 1.2s backwards;
    animation-delay: .1s;
}

.btDownload {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

table {
    width: 90%;
    margin: 0 auto;

    border: none;
    border-collapse: collapse;
}

thead {
    width: 100%;

    background-color: #EAE8E8;
    border-bottom: 1px solid #D8D8DB;
    
    font-size: 1.6rem;
    color: #000;
}

tbody {
    width: 100%;

    background-color:  #F0F0F4;;
    
    font-size: 1.4rem;
}

tr {
    width: 100%;
    padding: 1.5% 0;

    display: flex;
    align-items: center;
    
    border-bottom: 1px solid #D8D8DB;
}

th {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    width: 100%;
    padding: .5rem 0;

    display: flex;
    justify-content: center;
    
    word-break: break-all;
}

.button {
    width: 90%;
    margin: 0 auto 10%;
    padding: 2% 5.5%;

    background-color: #EAE8E8;
    border-radius: 0 0 1rem 1rem;
}

form {
    width: 100%;
    text-align: center;

    animation: fromTop 1.2s backwards;
    animation-delay: .1s;
}

.butCad {
    width: 22%;
}

footer{
    height: 12vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    
    background-color: #CECECE;
}

footer div.infos{
    font-size: 12pt;
    color: rgb(44, 44, 45);
    font-family: 'Courier New', Courier, monospace;
}

footer div.infos a{
    color: rgb(44, 44, 45);
    text-decoration: none;
}

footer div.infos a:hover{
    color: rgb(68, 68, 68);
    text-decoration: underline;
}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(+50%);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}